.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
}

h2, h4, label, button, section {
  color: white;
}

section {
  padding: 1.25rem;
}

h2 {
  font-size: large;
  margin: 0;
  margin-bottom: .2rem;
}

h4 {
  font-size: medium;
  margin: 0;
}

label {
  display: block;
}

span {
  font-size: .75rem;
}

textarea {
  height: 20rem;
}

input, textarea {
  display: block;
  margin-bottom: 1.25rem;
  width: auto;
}

button {
  height: 2rem;
  width: 100%;
  border: 2px solid white;
  background: none;
}

button:focus {
  outline: lightskyblue auto .5rem;
  border-radius: 0;
}

ul {
  margin: .2rem;
}

.groopings {
  display: flex;
  color: white;
  flex-direction: column;
}