.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
}

h2 {
  color: white;
  font-size: large;
}

label {
  color: white;
  display: block;
  padding-bottom: .5rem;
}

.label-description {
  display: block;
}

span {
  font-size: .75rem;
}

textarea {
  height: 20rem;
}

input, textarea {
  display: block;
  margin-bottom: 1.25rem;
  width: auto;
}

button {
  height: 2rem;
  width: 100%;
  border: 2px solid white;
  background: none;
  color: white;
}

button:focus {
  outline: lightskyblue auto .5rem;
}

.container {
  padding: 1.25rem;
}

.groopings {
  display: flex;
  color: white;
  flex-direction: column;
}